{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block content %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary text-center">Member Payments Information</h6>
    </div>
</div>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Place of Birth</th>
                    <th>Gender</th>
                    <th>Total Payments</th>
                    <th>View Details</th>
                    
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Place of Birth</th>
                    <th>Gender</th>
                    <th>Total Payments</th>
                    <th>View Details</th>
                    
                </tr>
            </tfoot>
            <tbody>
                {% for member in members %}
                <tr>
                    <td>{{member.id}}</td>
                    
                    <td><a href="{{member.get_absolute_url}}">{{member.name}}</a></td>
                    <td>{{member.simu}}</td>
                    <td>{{member.mahali_kuzaliwa}}</td>
                    <td>{{member.jinsia}}</td>
                    <td>{{member.get_total_paid_fee|intcomma}}</td>
                    <td><a class="btn btn-sm btn-info" href="{{member.get_absolute_url}}">View Member</a></td>
                    
                </tr>
                {% endfor %}
        </table>
    </div>
</div>

{% endblock %}